:root {
  /* Primary Colors */
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);

  /* Neutral Colors */
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
}

body {
  font-size: 0.938rem;
  min-height: 100%;
  padding: 1rem;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
}

.header-logo {
  max-width: 2.5rem;
}

.menu_open_btn,
.mobile-nav button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

picture img {
  max-width: 100%;
}

h1 {
  font-size: 2.7rem;
  font-weight: 800;
  color: var(--very-dark-blue);
  line-height: 1.1;
  margin-top: 1.5rem;
}

.main-article-content {
  margin: 1.5rem 0 3rem 0;
}
.main-article blockquote {
  color: var(--dark-grayish-blue);
  line-height: 1.5;
  font-size: 1rem;
}

.main-article_readmore-btn {
  display: block;
  cursor: pointer;
  background: var(--soft-red);
  border: none;
  padding: 0.8rem 2rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.16rem;
  color: var(--very-dark-blue);
  margin-top: 1rem;
  font-size: 0.75rem;
  width: fit-content;
}

.main-article_readmore-btn:hover,
.main-article_readmore-btn:focus {
  background-color: var(--very-dark-blue);
  color: var(--off-white);
  font-weight: 600;
}

.new-articles-section {
  background-color: var(--very-dark-blue);
  padding: 1.5rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.new-articles-section h2 {
  color: var(--soft-orange);
  font-size: 2.1rem;
  font-weight: 600;
}

.new-article {
  color: var(--off-white);
  line-height: 1.5;
  padding: 1.5rem 0;
}

.new-article a {
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--off-white);
}

q {
  display: block;
}

q::before,
q::after {
  display: none;
}
.new-article a:hover,
.new-article a:focus {
  color: var(--soft-orange);
}
.new-article q {
  color: var(--grayish-blue);
}
.new-articles_separator {
  border-top: 1px solid var(--grayish-blue);
  opacity: 0.5;
}

.top3-articles-section {
  margin-top: 1rem;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.top3-article {
  display: flex;
  margin-top: 2rem;
  padding: 0.5rem;
  width: auto;
}

.top3-article-info {
  margin-left: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.top3-article_position {
  color: var(--soft-red);
  font-size: 2.1rem;
  font-weight: 800;
  grid-area: number;
}

.top3-article img {
  min-height: 100%;
  max-height: 7rem;
  width: auto;
}

.top3-article_title {
  grid-area: title;
  font-weight: 700;
  color: var(--very-dark-blue);
  padding: 0.5rem 0;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 1rem 0;
}

.top3-article_title:hover,
.top3-article_title:focus {
  color: var(--soft-red);
}

.top3-article_content {
  grid-area: text;
  color: var(--dark-grayish-blue);
}

footer {
  text-align: center;
  background-color: var(--off-white);
  color: var(--very-dark-blue);
  font-weight: 600;
  padding-top: 2rem;
}

footer p {
  font-size: 0.7rem;
}

footer a {
  font-size: 0.8rem;
  color: var(--soft-red);
}

.desktop-nav {
  display: none;
}

.desktop-nav a {
  text-decoration: none;
  color: var(--dark-grayish-blue);
  cursor: pointer;
}

.desktop-nav a:hover,
.desktop-nav a:focus {
  color: var(--soft-red);
}

a {
  cursor: pointer;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

.mobile-nav {
  position: fixed;
  min-width: 70%;
  background-color: var(--off-white);
  min-height: 100%;
  right: 0;
  top: 0;
  display: none;
  flex-flow: column;
  z-index: 9;
  max-width: 19rem;
  padding: 2rem 1rem;
}

.mobile-nav button {
  max-width: auto;
  align-self: end;
  margin-bottom: 3rem;
}

.mobile-nav li {
  list-style: none;
  margin: 1rem 0.5rem;
}

.mobile-nav a {
  color: var(--very-dark-blue);
  font-size: 1.2rem;
  font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav a:focus {
  color: var(--soft-red);
}

a,
button {
  outline: none;
}

a:focus,
button:focus {
  outline: 1px dashed var(--very-dark-blue);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  height: 100%;
  width: 100%;
  background-color: var(--dark-grayish-blue);
  opacity: 70%;
}
.overlay.visible {
  display: block;
}

.mobile-nav.visible {
  display: flex;
}

/* DESKTOP DESIGN */
@media screen and (min-width: 70rem) {
  body {
    padding: 3rem;
  }

  main,
  header {
    max-width: 90rem;
    width: 90%;
  }

  section {
    display: grid;
    padding: 0;
    gap: 1rem;
    max-width: 100%;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: "mainArticle mainArticle newsSection" "mainArticle mainArticle newsSection" "top3 top3 top3";
  }

  .main-article {
    grid-area: mainArticle;
    display: grid;
    grid-template-areas: "mainArticle-picture mainArticle-picture" "mainArticle-title mainArticle-content";
  }

  .main-article picture {
    grid-area: mainArticle-picture;
    min-width: 100%;
  }

  .main-article h1 {
    grid-area: mainArticle-title;
    width: 60%;
  }
  .new-articles-section {
    grid-area: newsSection;
  }

  .main-article-content {
    width: 85%;
  }

  .top3-articles-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, 32%);
    gap: 1rem;
    grid-area: top3;
    justify-content: space-between;
  }

  .top3-article-info q {
    margin-top: 0.5rem;
    font-size: 1rem;
  }

  .menu_open_btn {
    display: none;
  }

  .desktop-nav {
    display: block;
    width: auto;
  }

  .mobile-nav {
    display: none;
  }

  .overlay {
    display: none;
  }

  li {
    list-style-type: none;
    display: inline;
    padding-left: 3rem;
  }
}
